{% extends 'base.html' %}

{% block title %} Article {{article}}{% endblock title %}

{% block content %}
    <h1>
        {{article}}
    </h1>
    <p> {{article.titre}} </p>
    <p> {{article.auteur}} </p>
{% endblock content %}