{% extends 'base.html' %}

{% block title %} Liste des articles {% endblock %}

{% block content %}
    <h2 class = "upper"> Liste de tous les articles (4) </h2>
    <ol>
        {% for article in articles %}
         <li> <a href= "{% url 'article_detail' article.id %}" target= "_blank">{{ article }} </a> </li>
        {% endfor %}
    </ol>
{% endblock content %}