{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} Ma page de base {% endblock title %}
    </title>
</head>
<body>
    <header>
    <h1> En-tête de la page du site</h1>
    </header>
    {% block content %} {% endblock content %}
    <footer>
        <h1>Pied de page du site </h1>
    </footer>

</body>
</html>